.main-wrapper {
  width: 100%;
  background-color: bisque;
  margin: 0 auto;
}
.header {
  background-image: url("../assets/images/purple-black-polka.jpg");
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  height: 60vh;
}

.keyboard-wrapper {
  width: 96%;
  margin: 0 auto;
  margin-top: 20px;
}

.keyboard {
  width: 98%;
  height: 40vh;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(30, 40px);
  grid-template-rows: repeat(4, 80px);
}
.looper-wrapper {
  width: 100%;
  height: 70vh;
  margin: 0 auto;
  background-color: #eff1f1;
  overflow: hidden;
}
.loop {
  display: inline-block;
  width: 7px;
  height: 40px;
  position: absolute;
}
