.label {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 45%;
  color: rgba(40, 42, 48, 0.4);
  font-size: 12px;
  text-transform: uppercase;
}

.purple {
  /* background-color: #a94be9; */
  background-image: linear-gradient(to right, #a672e9, #9052df);
}

.blue {
  background-image: linear-gradient(to right, #52a9d8, #369fd8);
}
.green {
  background-image: linear-gradient(to right, #52df9d, #41dc94);
}
.header-content {
  margin: 0, auto;
  width: 94%;
  display: inline-block;
  height: 7vh;

  position: relative;
}
.title {
  float: left;
  width: 25%;
  color: #369fd8;
  position: absolute;
  top: 20px;
  left: 60px;
  margin-left: 5%;
}
.logos {
  width: 50px;
  height: 50px;
  background-image: url("/assets/images/beat.png");
  background-size: cover;
  float: left;
  margin-left: 5%;
}
.buttons {
  cursor: pointer;
  margin: 0 auto;
  width: 96%;
  height: 35px;
  margin-top: 10px;
  position: relative;
}
.record-button {
  width: 24px;
  height: 24px;
  background-image: url("../assets/images/button_inactive.png");
  float: left;
}
.record-button.active {
  background-image: url("../assets/images/button.png");
}
.play-button {
  width: 24px;
  height: 24px;
  background-image: url("../assets/images/play-button.png");
  float: left;
  margin-left: 15px;
}
.play-button.active {
  background-image: url("../assets/images/stop.png");
}
.key {
  /* float: left; */
  width: 100%;
  height: 100%;

  position: relative;
  grid-column: span 2;
  cursor: pointer;
}
.key.active {
  transform: scale(0.81, 0.81);
  opacity: 0.5;
  transition-duration: 0.01s;
}

.delete {
  grid-column: span 4;
}
.tab {
  grid-column: span 3;
}
.return {
  grid-column: span 3;
}
.capslock {
  grid-column: span 4;
}

.timer {
  font-size: 18px;
  color: black;
  margin-left: 15px;
  float: left;
  width: 60px;
}

.bar-choose {
  float: right;
  width: 150px;
  font-size: 11px;
  color: #9052df;
  display: inline;
  text-align: center;
}
.bar-title {
  width: 50px;
  position: absolute;
  font-size: 14px;
  right: 10%;
  top: 10%;
}
.bar-choose ul {
  position: absolute;
  right: 1%;
  top: 10%;
}
.bar-choose ul li {
  display: inline-block;
}

.bar2 {
  border: 2px solid;
  border-color: #9052df;
  border-radius: 25px 0 0 25px;
  background-color: white;
  position: relative;
  left: 10px;
  width: 25px;
  padding: 1%;
}
.bar2.active,
.bar4.active,
.bar8.active,
.bar16.active {
  background-color: #9052df;
  color: #ffffff;
}
.bar4 {
  border: 2px solid;
  border-color: #9052df;
  background-color: white;
  position: relative;
  left: 3px;
  width: 25px;
  padding: 1%;
}
.bar8 {
  border: 2px solid;
  border-color: #9052df;
  background-color: white;
  position: relative;
  left: -4px;
  width: 25px;
  padding: 1%;
}
.bar16 {
  border: 2px solid;
  border-color: #9052df;
  border-radius: 0 25px 25px 0;
  background-color: white;
  position: relative;
  right: 11px;
  width: 25px;
  padding: 1%;
}

.bar2:hover,
.bar4:hover,
.bar8:hover,
.bar16:hover {
  color: #ffffff;
  background-color: #9052df;
}

#progress-bar {
  width: 96%;
}

#progress-line {
  width: 1px;
  height: 100%;
  background-color: grey;
}

.slider {
  float: left;
  width: 150px;
  height: 25px;
  position: absolute;
  left: 45%;
}
.slider input {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 2222;
}

.slider input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  background: #9052df;
  border: 1px solid #9052df;
  cursor: pointer;
}
.sliderValue {
  position: relative;
  width: 100%;
}
.sliderValue span {
  position: absolute;
  height: 30px;
  width: 30px;
  transform: translateX(-70%) scale(0);
  font-weight: 500;
  font-size: 14px;
  top: -40px;
  line-height: 40px;
  z-index: 2;
  color: #fff;
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
}
.sliderValue span.show {
  transform: translateX(-70%) scale(1);
}
.sliderValue span:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #9052df;
  border: 3px solid #fff;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.field {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
.field .value {
  position: absolute;
  font-size: 10px;
  color: #9052df;
  font-weight: 600;
}
.field .value.left {
  left: -22px;
}
.field .value.right {
  right: -43px;
}
